<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songr</title>
    <link rel="stylesheet" href="./styles/index.css" th:href="@{/styles/index.css}" />
    <link rel="stylesheet" href="./styles/albums.css" th:href="@{/styles/albums.css}" />
</head>
<body>
<nav>
    <h2>Songr</h2>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/hello">Greeting</a>
        </li>

        <li>
            <a href="/capitalize/hello">Capitals</a>
        </li>
        <li>
            <a href="/albums">Albums</a>
        </li>
    </ul>
</nav>
    <main>
<!--      <h1>Songr</h1>-->
      <ul>
        <li>
            <a href="/hello">Greeting</a>
            <p>This a simple page says Hello World!</p>
        </li>

        <li>
            <a href="/capitalize/hello">Capitals</a>
            <p>You can try to capitalize any word or sentence by clicking at the link above and change the word hello which you can find at the end of the url to anything you want </p>
        </li>
          <li>
              <a href="/albums">Albums</a>
              <p>See A list of Albums and add a new ones</p>
          </li>
      </ul>
    </main>
</body>
</html>