<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/albums.css" th:href="@{/styles/albums.css}" />
</head>
<body>
<nav>
    <h2>Songr</h2>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/hello">Greeting</a>
        </li>

        <li>
            <a href="/capitalize/hello">Capitals</a>
        </li>
        <li>
            <a href="/albums">Albums</a>
        </li>
    </ul>
</nav>
    <h2>ONLY CAPITAL LETTERS</h2>
    <p th:text="${capitals}"></p>
</body>
</html>